*{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  cursor: default;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    cursor: default;
    user-select:none;
}
td{
    width: 50%;
    height: 54%;
    text-align:center;
    font-size: 6em;
}
table{
    width: 100%;
    height: 100%;
    border-spacing:0;
}

#wrapper{
    color: white;
}

#topbar{
    position: fixed;
    width: 100%;
    font-size:100%;
    background:#fdfef0;
    text-align: center;
    padding: 1% 0;
}
#topbar button{
    float: left;
    margin-left: 2%;
}

.buttons{
    display: inline-block;
    margin: auto;
}

#printemps{
    background-color: #4cff00;
}
#ete{
    background-color: #f3f528;
}
#automne{
    background-color: #986618;
}
#hiver{
    background-color: #fff;
}

#drag{
    width: 25%;
    height: 25%;
    position: absolute;
    left: 37%;
    top: 37%;
    background-color: #48cfee;
    text-align: center;
}

#scores{
    z-index: 2;
    position: absolute;
    top: 1%;
    right: 1%;
    margin: 1%;
}

#wrapper{
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    background-color: rgba(0,0,0,0.8);
}
